<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harigroup.hypermarket.mapper.IGoodsMapper">

<select id="getGoods" resultType="com.harigroup.hypermarket.pojo.Goods">
	select * 
	from tb_goods as g,tb_store as s
	where g.s_id = s.s_id
</select>
<select id="getGoodsByGid" resultType="com.harigroup.hypermarket.pojo.Goods">
	select * 
	from tb_goods where g_id=#{g_id}
</select>
<select id="getGoodsByGname" resultType="com.harigroup.hypermarket.pojo.Goods">
	select * 
	from tb_goods where g_name like "%"#{g_name}"%"
</select>
<select id="getGoodsByTName" resultType="com.harigroup.hypermarket.pojo.Goods">
	SELECT g_name,g_intro,g_price,g_total,uptime,downtime,g_status,t_name,g_picture
	FROM `tb_goods` as g,tb_type as t
	where g.t_id=t.t_id and t.t_name=#{t_name}
</select>
<insert id="insertGoods">
	insert into tb_goods values(default,#{t_id},#{s_id},#{g_name},#{g_intro},#{g_price},#{g_total},
	<if test="uptime !=null">#{uptime},</if><if test="uptime ==null">now(),</if>
	default,default,#{g_picture})
</insert>
<update id="deleteGoodsByGid">
	update tb_goods set g_status=0,downtime=now() where g_id=#{g_id}
</update>
<delete id="deleteGoods">
	delete from tb_goods where g_id=#{g_id}
</delete>
<select id="getType" resultType="com.harigroup.hypermarket.pojo.Type">
	select * 
	from tb_type
</select>

<select id="getGoodsBySID"
		resultType="com.harigroup.hypermarket.pojo.Goods">
		select * from tb_goods
		where s_id = #{s_id}
	</select>
	<update id="updateGoods">
		update tb_goods
		set t_id = #{t_id},g_name = #{g_name},g_intro = #{g_intro},g_price =
		#{g_price},
		g_total=#{g_total},g_picture=#{g_picture}
		where g_id=#{g_id}
	</update>
	<insert id="upGoods">
		insert into tb_goods
		values (default,#{t_id},#{s_id},#{g_name},#{g_intro},#{g_price},
		#{g_total},NOW(),null,1,#{g_picture})
	</insert>
	<update id="downGoods">
		update tb_goods
		set downtime = NOW(),g_status=0
		where g_id=#{g_id}
	</update>

</mapper>