<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harigroup.hypermarket.mapper.IHotGoodsQueryMapper">

	<select id="hotGoodsQuery" resultType="com.harigroup.hypermarket.pojo.Goods">
		select *
		from tb_goods
		where g_id in (
			SELECT g_id
			FROM tb_orderform
			GROUP BY g_id
			ORDER BY COUNT(o_id) desc
		)
		LIMIT 7
	</select>
	
	<select id="topList" resultType="com.harigroup.hypermarket.pojo.Goods">
		select *
		from tb_goods
		order by uptime desc
		limit 7
	</select>
	
</mapper>