<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harigroup.hypermarket.mapper.IOrderMapper">


    <select id="getAllOrder" resultType="com.harigroup.hypermarket.pojo.ShoppingCar">
       select *
		from tb_orderform b,tb_goods g
		where b.u_id=#{u_id} and b.g_id=g.g_id order by order_time desc
    </select>


    <insert id="releaseOrder" parameterType="com.harigroup.hypermarket.pojo.Orderform">
         insert into tb_orderform values(default,#{u_id},#{g_id},Now(),#{o_number},#{price},1)
    </insert> 

    
    <delete id="delOrderById" parameterType="com.harigroup.hypermarket.pojo.Orderform">
        delete from tb_orderform where o_id =#{o_id} 
    </delete>


</mapper>



    
    